---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Get Greens" classes="underlay">
    <h1>Your cart is empty.</h1>
</Layout>

<style lang="scss">
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
