---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro">
	<div>
		<button id="data-shop-here-button">Shop Here</button>
	</div>
</Layout>

<script>
	const homeButton = document.querySelector("#data-shop-here-button");

	if (homeButton) {
		homeButton.addEventListener("click", () => {
			console.log("Shop Here!");
		});
	}
</script>

<style>
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
</style>
