---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import corn from "../assets/indoor/corn.png";
import spider from "../assets/indoor/spider.jpg";
import ponytail from "../assets/indoor/ponytail.jpg";
import arrowhead from "../assets/indoor/arrowhead.jpg";
---

<Layout title="Indoor Plants">
    <div class="list-of-items">
        <Card title="Spider Plants" src={spider} />
        <Card title="Corn Plant" src={corn} />
        <Card title="Ponytail Palm" src={ponytail} />
        <Card title="Arrow Head" src={arrowhead} />
    </div>
</Layout>

<style lang="scss">
    img {
        height: calc(100% - 40px);
        width: 100%;
    }

    .list-of-items {
        height: calc(100vh - 75px);
        overflow: auto;
        display: grid;
        grid-gap: 2rem;
    }
</style>
