---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Locations">
	<div class="list-of-items">
		<Card
			title="Kolkata"
			src="../../src/assets/location/panjaa.jpeg"
		/>
		<Card
			title="Fort Worth"
			src="../../src/assets/location/fortworth.jpg"
		/>
		<Card
			title="Plano"
			src="../../src/assets/location/plano.jpg"
		/>
		<Card
			title="Mckinney"
			src="../../src/assets/location/nursery.jpg"
		/>
	</div>
</Layout>

<style lang="scss" is:global>
	.list-of-items {
		height: calc(100vh - 75px);
		overflow: auto;
		display: grid;
		grid-gap: 2rem;
	}
</style>
