---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import sage from "../assets/outdoor/sage.jpg";
import lavender from "../assets/outdoor/lavender.jpg";
import rosemary from "../assets/outdoor/rosemary.jpg";
import sunflower from "../assets/outdoor/sunflower.jpg";
---

<Layout title="Outdoor Plants">
    <div class="list-of-items">
        <Card title="Sage" src={sage} />
        <Card title="Rose Mary" src={rosemary} />
        <Card title="Lavender" src={lavender} />
        <Card title="Sunflower" src={sunflower} />
    </div>
</Layout>

<style lang="scss">
    img {
        height: calc(100% - 40px);
        width: 100%;
    }

    .list-of-items {
        height: calc(100vh - 75px);
        overflow: auto;
        display: grid;
        grid-gap: 2rem;
    }
</style>
