---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import snake from "../assets/oxygen/snake.jpg";
import money from "../assets/oxygen/money.jpg";
import aloe from "../assets/oxygen/aloe.jpg";
import tulasi from "../assets/oxygen/tulasi.jpg";
---

<Layout title="Oxygen Plants">
    <div class="list-of-items">
        <Card title="Snake Plant" src={snake} />
        <Card title="Money Plant" src={money} />
        <Card title="Aloe Vera" src={aloe} />
        <Card title="Tulasi Plant" src={tulasi} />
    </div>
</Layout>

<style lang="scss">
    img {
        height: calc(100% - 40px);
        width: 100%;
    }

    .list-of-items {
        height: calc(100vh - 75px);
        overflow: auto;
        display: grid;
        grid-gap: 2rem;
    }
</style>
