---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import indoor from "../assets/indoor.jpg";
import outdoor from "../assets/outdoor.jpg";
import oxygen from "../assets/oxygen.jpg";
import succulents from "../assets/succulents.jpg";

---

<Layout title="Get Greens" classes="underlay">
	<div class="list-of-items">
		<Card title="Indoor Plants" src={indoor} href="/indoor" />
		<Card title="Outdoor Plants" src={outdoor} href="/outdoor" />
		<Card title="Oxygen Plants" src={oxygen} href="/oxygen" />
		<Card title="Succulants" src={succulents} href="/succulant" />
	</div>
</Layout>

<style lang="scss" is:global>
	.list-of-items {
		height: calc(100vh - 75px);
		overflow: auto;
		display: grid;
		grid-gap: 2rem;
	}
</style>
