---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import zebra from "../assets/succulant/zebra.jpg";
import splitrock from "../assets/succulant/splitrock.jpg";
import debbie from "../assets/succulant/debbie.jpg";
import iceplant from "../assets/succulant/iceplant.jpg";
---

<Layout title="Succulant Plants">
    <div class="list-of-items">
        <Card title="Zebra" src={zebra} />
        <Card title="Split Rock" src={splitrock} />
        <Card title="Debbie" src={debbie} />
        <Card title="Ice Plant" src={iceplant} />
    </div>
</Layout>

<style lang="scss">
    img {
        height: calc(100% - 40px);
        width: 100%;
    }

    .list-of-items {
        height: calc(100vh - 75px);
        overflow: auto;
        display: grid;
        grid-gap: 2rem;
    }
</style>
