---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Succulant Plants">
    <div class="list-of-items">
        <Card title="Zebra" src="../../src/assets/succulant/zebra.jpg" />
        <Card title="Split Rock" src="../../src/assets/succulant/splitrock.jpg" />
        <Card
            title="Debbie"
            src="../../src/assets/succulant/debbie.jpg"
        />
        <Card title="Ice Plant" src="../../src/assets/succulant/iceplant.jpg" />
    </div>
</Layout>

<style lang="scss">
    img {
        height: calc(100% - 40px);
        width: 100%;
    }

    .list-of-items {
        height: calc(100vh - 75px);
        overflow: auto;
        display: grid;
        grid-gap: 2rem;
    }
</style>
