---
import NavBar from "../components/NavBar.astro";

interface Props {
	title: string;
	classes?: string;
}

const { title="Get Green", classes = "wrapper" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class={classes}>
			<NavBar title={title} />
			<main>
				<slot />
			</main>
			<footer>
				<div>
					<button id="data-shop-here-button">
						<a href="/"
							><svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								class="bi bi-house-door"
								viewBox="0 0 16 16"
							>
								<path
									d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"
								></path>
							</svg></a
						>
					</button>
					<button id="data-shop-here-button">
						<a href="/locations">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								class="bi bi-geo-alt"
								viewBox="0 0 16 16"
							>
								<path
									d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"
								></path>
								<path
									d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
								></path>
							</svg></a
						>
					</button>
					<button id="data-shop-here-button">
						<a href="/cart"
							><svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								class="bi bi-cart"
								viewBox="0 0 16 16"
							>
								<path
									d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
								></path>
							</svg></a
						>
					</button>
				</div>
			</footer>
		</div>
	</body>
</html>
<style is:global lang="scss">
	@mixin basic-wrapper {
		overflow: hidden;
		display: grid;
		grid-template-rows: auto 1fr auto;
		min-height: 100vh;
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	body {
		margin: auto;
	}
	.wrapper {
		@include basic-wrapper;
		background-image: url(../../src/assets/getgreens-main.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.underlay {
		@include basic-wrapper;
		background-color: white;
	}
	main {
		font-size: 20px;
		line-height: 1.6;
		display: grid;
		gap: 2rem;
	}
	footer div {
		display: flex;
		justify-content: space-between;
	}

	footer div button {
		width: 60px;
		height: 40px;
		background-color: green;
	}
</style>
